#martini {
width: 45px;
height: 45px;
margin-bottom: 10px;
}

.jumbotron {
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

#subtext {
    font-size: 15pt;
}

.buttons {
    align-content: center;
    margin-left: 33%;
    margin-right: 25%;
}

.do {
    display: inline;
}